<% @microposts.each do |cmt| %>
<% theUser = User.find( cmt.user_id ) %>
<div id="photo-comments">
<%=current_user.name == theUser.name ? (link_to 'Destroy', cmt, :confirm => 'Are you sure?', :method => :delete):""%>
<div style="margin-right:50px"><b><%=theUser.name%></b> <%=cmt.created_at.strftime( "(%m/%d/%Y %I:%M%p)")%>: <%=cmt.content%></div></div>
<% end%>


