Thank you for creating an account with LinkNetworker!
<br/>
<br/>
Click the url below to activate you account!
<br/>
<br/>
<%= @account_activation_url %>
<br/>
<br/>
If the above URL does not work try copying and pasting into your browser.
<br/>
<br/>
If you continue to have problems please feel free to contact us.
<br>
<br>
- LinkNetworker Team<br>
<a target="_blank" href="http://members.linknetworker.com/">http://members.linknetworker.com/</a><br>
