		<div id="before_container">
			<div id="menu_search">
				<input type="text" value="Search..." />
			</div>
			<ul id="menu_list">
				<li><%=@user.name%></li>
				<li><%= link_to "Sign out", signout_path %></li>
			</ul>
		</div>

