<div id="facebook">
	<script type="text/javascript" src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script>
	<script type="text/javascript">FB.init("f33675404d0e2a740aa75bddf32b2575");</script>
	<fb:fan profile_id="137095286322696" stream="1" connections="8" width="250px"></fb:fan>
	<div style="font-size:12px; padding-left:10px">
		<a href="http://www.facebook.com/pages/LinkNetworker/137095286322696">Link Networker</a> on Facebook</div>
</div>