<% 		
			@network.users.each do |n| 
			if n.photo.url(:thumb).to_s != "/photos/thumb/missing.png"
				image = "<img src='" + n.photo.url(:thumb).to_s + "' />"
			else
				image = "<img width='50' src='/images/avatar.png' />"
			end					
		%>
			<div class="network-members"><%= link_to image+n.name, root_path %></a></div>		
<%		end %>
