$("#progress_form").before('<div class="notice">Progress Saved!</div>');
<% next_tutorial = Tutorial.find_by_page_order(@user.last_tutorial) %>
location.replace("<%= tutorial_path(next_tutorial) %>");