<h1>New tutorial</h1>

<% form_for(@tutorial) do |f| %>
	<%= render 'fields', :f => f %>
  	<div class="actions">
    	<%= f.submit "New page" %>
  	</div>
<% end %>

<%= link_to 'Back', tutorials_path %>