<div id="footer">
  <ul>
  	<li><%= link_to "Contact Us", contact_path %></li>
		<li><%= link_to "Feedback", feedback_path %></li>
		<li><%= link_to "Privacy", privacy_path %></li>
		<li><%= link_to "Terms &amp; Conditions", terms_path %></a></li>
  </ul>
	<div style="clear:both"></div>
</div>
