View Members as:
<div id="chose-members">
	<div id="chose-users">
		<%= link_to "List", :action => "users" %>
	</div>
	<div id="chose-networks">
		<%= link_to "Networks", :action => "networks" %>
	</div>
	<div style="clear:both"></div>
</div>
