
<% 	@networks.each do |m|  %>
		<div class="network-feed">
			<div class="nf-title"><%=h m.name %></div>
			<div class="nf-body">
<% 		
			@usrs = m.users %>
	<table>
		<%	@usrs.each do |n| %>
			<tr><td><%=h n.name %></td><td> 

		<% 
		if current_user.id != n.id
			form_tag('/messages/new') do %>
			<%=hidden_field_tag 'send_to', n.id %>
			<%=submit_tag 'Send Message' %>
 		<% end %>
		<% end %>
			</td></tr>
<%		end %>
			</table>
	</div>
</div>
<% end %>
